body {
  background-color: #FAFAFA; }

p, h2, h1 {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif; }
a {
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
}
.index {
  color: rgba(0, 0, 0, 0.671);
  font-weight: 600;
}
.film {
  color: rgba(0, 0, 0, 0.671);
  font-weight: 600;
}
.digital {
  color: rgba(0, 0, 0, 0.671);
  font-weight: 600;
}
.about {
  color: rgba(0, 0, 0, 0.671);
  font-weight: 600;
}
a:hover {
  color: black;
  font-weight: 500;
}
.logo {
  font-family: 'Homemade Apple', cursive;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 5px;
}
i {
  color: #FFCF1F;
}

.paddingNone {
  padding-left: 0px;
}

/* STILOS EN INDEX */
.grid-gallery {
  display: grid;
  grid-auto-rows: 180px;
  grid-auto-columns: 300px;
  grid-gap: 15px;
  margin: 20px;
}

.grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-gallery__item {
  grid-column: span 2;
}

nav ul {
  list-style: none;
}

.col-12 {
  text-align: center;
}

.icon {
  padding-left: 24px;
}

.fa-behance-square {
  padding-left: 16px;
}
i.paddingNone {
  padding-left: 0px;
}

  /* FIN ESTILOS EN INDEX */

  /* ESTILOS EN FILM.HTML */
    
.grid-gallery__imageFilm {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  
.grid-gallery__itemFilm {
  grid-column: span 2;
}

/* FIN DE ESTILOS EN FILM.HTML */


    /* ESTILOS EN ABOUT.HTML */
.grid-gallery2 {
  display: grid;
  grid-auto-rows: 180px;
  grid-gap: 15px;
  margin: 20px;
}
    
h2 {
  font-weight: 100;

}
.menu-content {
  font-family: 'Open Sans Condensed', sans-serif; 
  padding: 0 0 0 50px;
}
.collapsible-menu {
  background-color: #FAFAFA;;
  padding: 5px 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.collapsible-menu ul {
  list-style-type: none;
  padding: 0;
}
.collapsible-menu a {
  display:block;
  padding: 10px;
  text-decoration: none;
}
.collapsible-menu label {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  display: block;
  cursor: pointer;
  background: url(menu.png) no-repeat left center;
  padding: 10px 0 10px 50px;
  margin-top: 8px;
}
input#menu {
  display: none;
}
input:checked +label {
  background-image: url(cancel.png);
}

.menu-content {
  max-height: 0;
  overflow: hidden;
  font-family: 'Open Sans Condensed', sans-serif; 
  padding: 0 0 0 50px;
}
/* Toggle Effect */
input:checked ~ label {
  background-image: url(cancel.png);
}
input:checked ~ .menu-content {
  max-height: 100%;
}


/* FIN ESTILOS EN ABOUT.HTML */

/* ESTILOS EN DIGITAL.HTML */

.grid-gallery__imageDigital {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.grid-gallery__itemDigital {
  grid-column: span 2;
}

/* FIN DE ESTILOS EN DIGITAL.HTML */


/* QUERIES INDEX.HTML */
@media all and (min-width: 320px) {

  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-columns: auto;
    }
  .headerIndex {
    display: none;
  }
  .headerFilm {
    display: none;
  }
  .headerDigital {
    display: none;
  }
  .header2 {
    display: none;
  }
  .container404.h1404 {
    font-size: 120px;
  }
  .grid-gallery__item:nth-child(4) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(8) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(10) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(16) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(22) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(24) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(36) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(2) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(6) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(10) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(14) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(18) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(26) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(32) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(38) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(40) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(44) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(4) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(6) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(8) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(10) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(12) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(14) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(16) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(18) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(20) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(22) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(24) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(30) {
    grid-row: span 2;

  }
  .grid-gallery__itemDigital:nth-child(32) {
    grid-row: span 2;

  }
  .grid-gallery__itemDigital:nth-child(36) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(38) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(46) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(52) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(54) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(56) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(58) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(60) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(62) {
    grid-row: span 2;
  }
  .description {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    text-align: center;
    align-self: center;
  }
  .error {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    text-align: center;
    align-self: end;
  }
  .imgAbout {
    grid-row: 2 / span 2;
    justify-self: center;
    text-align: center;
  }
  .contact {
    grid-row: 4 / 4 ;
    justify-self: center;
    text-align: center;
    align-self: end;
  }
  i {
    padding-right: 5px;
  }
  .footerAbout {
    grid-row: 5 / 5;
    text-align: center;
    align-self: end;
  }
  .h1404 {
    font-size: 120px;
    text-align: center;
    font-weight: 500;
  }
}

@media all and (min-width: 375px) {

  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-columns: auto;
    }
  .headerIndex {
    display: none;
  }
  .headerFilm {
    display: none;
  }
  .headerDigital {
    display: none;
  }
  .header2 {
    display: none;
  }
  .grid-gallery__item:nth-child(4) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(8) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(10) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(16) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(22) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(24) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(36) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(2) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(6) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(10) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(14) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(18) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(26) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(32) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(38) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(40) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(44) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(4) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(6) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(8) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(10) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(12) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(14) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(16) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(18) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(20) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(22) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(24) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(30) {
    grid-row: span 2;

  }
  .grid-gallery__itemDigital:nth-child(32) {
    grid-row: span 2;

  }
  .grid-gallery__itemDigital:nth-child(36) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(38) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(46) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(52) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(54) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(56) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(58) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(60) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(62) {
    grid-row: span 2;
  }
  .description {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    text-align: center;
    align-self: center;
  }
  .error {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    text-align: center;
    align-self: end;
  }
  .imgAbout {
    grid-row: 2 / span 2;
    justify-self: center;
    text-align: center;
  }
  .contact {
    grid-row: 5 / 5 ;
    justify-self: center;
    text-align: center;
    align-self: center;
  }
  i {
    padding-right: 5px;
  }
  .footerAbout {
    grid-row: 6 / 6;
    text-align: center;
    align-self: end;
  }
  .h1404 {
    font-size: 150px;
    text-align: center;
    font-weight: 500;
  }
}

@media all and (min-width: 425px) {

  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-columns: auto;
    }
  .headerIndex {
    display: none;
  }
  .headerFilm {
    display: none;
  }
  .headerDigital {
    display: none;
  }
  .header2 {
    display: none;
  }
  .grid-gallery__item:nth-child(4) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(8) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(10) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(16) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(22) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(24) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(36) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(2) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(6) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(10) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(14) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(18) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(26) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(32) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(38) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(40) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(44) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(4) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(6) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(8) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(10) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(12) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(14) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(16) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(18) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(20) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(22) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(24) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(30) {
    grid-row: span 2;

  }
  .grid-gallery__itemDigital:nth-child(32) {
    grid-row: span 2;

  }
  .grid-gallery__itemDigital:nth-child(36) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(38) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(46) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(52) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(54) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(56) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(58) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(60) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(62) {
    grid-row: span 2;
  }
  .description {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    text-align: center;
    align-self: center;
  }
  .error {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    text-align: center;
    align-self: end;
  }
  .imgAbout {
    grid-row: 2 / span 2;
    justify-self: center;
    text-align: center;
  }
  .contact {
    grid-row: 5 / 5 ;
    justify-self: center;
    text-align: center;
    align-self: end;
  }
  i {
    padding-right: 5px;
  }
  .footerAbout {
    grid-row: 6 / 6;
    text-align: center;
    align-self: end;
  }
  .h1404 {
    font-size: 150px;
    text-align: center;
    font-weight: 500;
  }
}

    
@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .headerIndex {
    display: block;
    grid-column: 1 / 1;
    grid-row: 1 / span 38;
  }
  .headerFilm {
    display: block;
    grid-column: 1 / 1;
    grid-row: 1 / span 42;
  }
  .headerDigital {
    grid-column: 1 / 1;
    display: block;
    grid-row: 1 / span 54;
  }
  .modal-sm {
    max-width: 350px;
  }

  .grid-gallery__item:nth-child(4) {
    grid-row: span 3;
  }
  .grid-gallery__item:nth-child(6) {
    grid-row: span 1;
  }
  .grid-gallery__item:nth-child(8) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(10) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(14) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(16) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(22) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(24) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(26) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(24) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(36) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(40) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(42) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(22) {
    grid-row: span 3;
  }
  .grid-gallery__item:nth-child(24) {
    grid-row: span 3;
  }
  .grid-gallery__item:nth-child(36) {
    grid-row: span 3;
  }
  .grid-gallery__item:nth-child(42) {
    grid-row: span 3;
  }

  .grid-gallery__itemFilm:nth-child(2) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(6) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(10) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(14) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(18) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(26) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(32) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(38) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(40) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(44) {
    grid-row: span 2;
  }

  .grid-gallery__itemDigital:nth-child(4) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(6) {
    grid-row: span 3;
  }
  .grid-gallery__itemDigital:nth-child(8) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(10) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(12) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(14) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(16) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(18) {
    grid-row: span 3;
  }
  .grid-gallery__itemDigital:nth-child(20) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(22) {
    grid-row: span 2;
    grid-column: span 2;
  }
  .grid-gallery__itemDigital:nth-child(24) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(30) {
    grid-row: span 4;
    grid-column: span 2;
  }
  .grid-gallery__itemDigital:nth-child(32) {
    grid-row: span 3;
    grid-column: span 2;
  }
  .grid-gallery__itemDigital:nth-child(36) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(38) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(46) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(52) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(54) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(56) {
    grid-row: span 3;
  }
  .grid-gallery__itemDigital:nth-child(58) {
    grid-row: span 3;
  }
  .grid-gallery__itemDigital:nth-child(60) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(62) {
    grid-row: span 2;
  }
  .grid-gallery2 {
    grid-template-columns: repeat(4, 1fr);
  }
  .description {
    grid-row: 1 / 1;
    grid-column: 2 / span 3;
    justify-self: center;
    align-self: center;
  }
  .error {
    grid-row: 1 / 1;
    grid-column: 2 / span 3;
    text-align: center;
    align-self: end;
  }
  .imgAbout {
    grid-row: 2 / span 4;
    grid-column: 2 / span 3;
    justify-self: center;
  }
  .contact {
    grid-row: 6 / 6;
    grid-column: 2 / span 3;
    justify-self: center;
    align-self: center;
  }
  .footerAbout {
    grid-row: 7 / 7;
    grid-column: span 4;
    justify-self: center;
    align-self: center;
  }
  .header2 {
    grid-column: 1 / 1;
    grid-row: 1 / span 4;
    display: block;
  }
  .collapsible-menu {
    display: none;
  }
  .h1404 {
    font-size: 150px;
    text-align: center;
    font-weight: 500;
  }
}

@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(7, 1fr);
  }
  
  .headerIndex {
    grid-column: 1 / 1;
    grid-row: 1 / span 11;
    display: block;
  }
 
  .headerFilm {
    grid-column: 1 / 1;
    grid-row: 1 / span 14;
    display: block;
  }

  .headerDigital {
    grid-column: 1 / 1;
    grid-row: 1 / span 18;
    display: block;
  }

  .modal-sm {
    max-width: 400px;
  }
  .grid-gallery__item:nth-child(3) {
    grid-row: span 3;
  }
  .grid-gallery__item:nth-child(4) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(5) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(6) {
    grid-row: span 1;
  }
  .grid-gallery__item:nth-child(7) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(8) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(10) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(11) {
    grid-row: span 2;
  }
  
  .grid-gallery__item:nth-child(14) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(16) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(18) {
    grid-row: span 1;
  }
  .grid-gallery__item:nth-child(20) {
    grid-row: span 1;
  }
  .grid-gallery__item:nth-child(22) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(24) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(26) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(24) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(36) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(40) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(42) {
    grid-row: span 2;
  }

  .grid-gallery__itemFilm:nth-child(2) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(6) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(10) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(14) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(18) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(26) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(32) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(38) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(40) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(44) {
    grid-row: span 2;
  }

  .grid-gallery__itemDigital:nth-child(4) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(6) {
    grid-row: span 3;
  }
  .grid-gallery__itemDigital:nth-child(8) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(10) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(12) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(14) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(16) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(18) {
    grid-row: span 3;
  }
  .grid-gallery__itemDigital:nth-child(20) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(22) {
    grid-row: span 2;
    grid-column: span 2;
  }
  .grid-gallery__itemDigital:nth-child(24) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(30) {
    grid-row: span 4;
    grid-column: span 2;
  }
  .grid-gallery__itemDigital:nth-child(32) {
    grid-row: span 3;
    grid-column: span 2;
  }
  .grid-gallery__itemDigital:nth-child(36) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(38) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(46) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(52) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(54) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(56) {
    grid-row: span 3;
  }
  .grid-gallery__itemDigital:nth-child(58) {
    grid-row: span 3;
  }
  .grid-gallery__itemDigital:nth-child(60) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(62) {
    grid-row: span 2;
  }
  .grid-gallery2 {
    grid-template-columns: repeat(9, 1fr);
  }

  .description {
    grid-column: 5 / span 4;
    grid-row: 1;
    align-self: center;
    justify-self: center;
  }
  .error {
    grid-row: 1;
    grid-column: 5 / span 4;
    text-align: center;
    align-self: end;
  }
  
  .imgAbout {
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
    align-self: start;
  }
  
  .footerAbout {
    grid-column: 2 / span 8;
    grid-row: 3;
    text-align: center;
    align-self: end;
  }
  
  .grid-gallery2 {
    grid-column: 1;
    grid-row: span 4;
  }
  
  .header2 {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
    display: block;
  }
  
  .contact{
    grid-column: 5 / span 4 ;
    grid-row: 2;
    align-self: end;
    justify-self: center;
  }
  
  .padding {
    padding-right: 15px;
  }
  .collapsible-menu {
    display: none;
  }
  .h1404 {
    font-size: 150px;
    text-align: center;
    font-weight: 500;
  }
}

@media all and (min-width: 1440px) {
  .grid-gallery {
    grid-template-columns: repeat(7, 1fr);
  }
  
  .headerIndex {
    grid-column: 1 / 1;
    grid-row: 1 / span 11;
    display: block;
  }
 
  .headerFilm {
    grid-column: 1 / 1;
    grid-row: 1 / span 14;
    display: block;
  }

  .modal-sm {
    max-width: 450px;
  }

  .headerDigital {
    grid-column: 1 / 1;
    grid-row: 1 / span 18;
    display: block;
  }
  .grid-gallery__item:nth-child(3) {
    grid-row: span 3;
  }
  .grid-gallery__item:nth-child(4) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(5) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(6) {
    grid-row: span 1;
  }
  .grid-gallery__item:nth-child(7) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(8) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(10) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(11) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(14) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(16) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(18) {
    grid-row: span 1;
  }
  .grid-gallery__item:nth-child(20) {
    grid-row: span 1;
  }
  .grid-gallery__item:nth-child(22) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(24) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(26) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(24) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(36) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(40) {
    grid-row: span 2;
  }
  .grid-gallery__item:nth-child(42) {
    grid-row: span 2;
  }

  .grid-gallery__itemFilm:nth-child(2) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(6) {
    grid-row: span 3;
  }
  
  .grid-gallery__itemFilm:nth-child(10) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(14) {
    grid-row: span 3;
  
  }
  .grid-gallery__itemFilm:nth-child(18) {
    grid-row: span 2;
  
  }
  .grid-gallery__itemFilm:nth-child(26) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(32) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(38) {
    grid-row: span 3;
  }
  .grid-gallery__itemFilm:nth-child(40) {
    grid-row: span 2;
  }
  .grid-gallery__itemFilm:nth-child(44) {
    grid-row: span 2;
  }


  .grid-gallery__itemDigital:nth-child(4) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(6) {
    grid-row: span 3;
  }
  .grid-gallery__itemDigital:nth-child(8) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(10) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(12) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(14) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(16) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(18) {
    grid-row: span 3;
  }
  .grid-gallery__itemDigital:nth-child(20) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(22) {
    grid-row: span 2;
    grid-column: span 2;
  }
  .grid-gallery__itemDigital:nth-child(24) {
    grid-row: span 1;
  }
  .grid-gallery__itemDigital:nth-child(30) {
    grid-row: span 4;
    grid-column: span 2;
  }
  .grid-gallery__itemDigital:nth-child(32) {
    grid-row: span 3;
    grid-column: span 2;
  }
  .grid-gallery__itemDigital:nth-child(36) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(38) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(46) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(52) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(54) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(56) {
    grid-row: span 3;
  }
  .grid-gallery__itemDigital:nth-child(58) {
    grid-row: span 3;
  }
  .grid-gallery__itemDigital:nth-child(60) {
    grid-row: span 2;
  }
  .grid-gallery__itemDigital:nth-child(62) {
    grid-row: span 2;
  }

  .grid-gallery2 {
    grid-template-columns: repeat(9, 1fr);
  }

  .description {
    grid-column: 5 / span 4;
    grid-row: 1;
    align-self: center;
    justify-self: center;
  }
  .error {
    grid-row: 2;
    grid-column: 5 / span 4;
    text-align: center;
    align-self: center;
  }
  
  .imgAbout {
    grid-column: 2 / span 3;
    grid-row: 1 / span 4;
    align-self: start;
    text-align: end;
  }
  .logo {
    width: 170px;
  }
  
  .footerAbout {
    grid-column: 2 / span 8;
    grid-row: 4;
    text-align: center;
    align-self: end;
  }
  
  .grid-gallery2 {
    grid-column: 1;
    grid-row: span 4;
  }
  
  .header2 {
    grid-column: 1 / 1;
    grid-row: 1 / span 3;
    display: block;
  }
  
  .contact{
    grid-column: 5 / span 4 ;
    grid-row: 3;
    align-self: center;
    justify-self: center;
  }
  
  .padding {
    padding-right: 15px;
  }
  .collapsible-menu {
    display: none;
  }
  .h1404 {
    font-size: 150px;
    text-align: center;
    font-weight: 500;
  }

}



.h2404 {
  text-align: center;
  margin-bottom: 16px;
}

.h3404 {
  text-align: center;
  font-size: 1rem;
}

nav.index404 ul {
  padding-left: 0px;
}


a:hover {
    text-decoration: none;
}

.container404 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}
.index404 {
  text-align: center;
  margin-top: 50px;
}






